<html5>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Input C++ question</title>
    {% load static %}

    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    />
  </head>

  <body>
    <header class="px-3 py-2 bg-dark text-white">
      <div class="container">
        <div
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
          <a
            href="/"
            class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none"
          >
            <svg class="bi me-2" width="40" height="32">
              <use xlink:href="#bootstrap" />
            </svg>
          </a>
    
          <ul
            class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small"
          >
            <li>
              <a href="{% url 'index' %}" class="nav-link text-secondary"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-app" viewBox="0 0 16 16">
                  <path d="M11 2a3 3 0 0 1 3 3v6a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V5a3 3 0 0 1 3-3h6zM5 1a4 4 0 0 0-4 4v6a4 4 0 0 0 4 4h6a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4H5z"/>
                </svg>
                Home </a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <form method="post" id="exam_question">
      {% csrf_token %}
      <div class="container">
        <div class="panel panel-info">
          <div id="question" class="container">
            <div style="margin-bottom: 25px; margin-top: 25px">
              {% if return_success %}
              <h3 style="color: green;">
                Thank you for your contribution. Have a nice day!
              </h3>
              {% endif %}
            </div>
            <div style="margin-bottom: 25px" class="form-group">
              <h4>Question type</h4>
              <div>
                <input
                  type="radio"
                  name="question_type"
                  id="theory"
                  value="TH"
                  required
                />
                <label for="theory">Theory</label>
                <br />
                <input
                  type="radio"
                  name="question_type"
                  id="pratice"
                  value="PR"
                />
                <label for="pratice">Pratice</label>
              </div>
            </div>

            <div style="margin-bottom: 25px" class="form-group">
              <h4>Question level</h4>
              <div>
                <input
                  type="radio"
                  name="question_level"
                  id="hard"
                  value="H"
                  required
                />
                <label for="hard">Hard</label>
                <br />
                <input
                  type="radio"
                  name="question_level"
                  id="medium"
                  value="M"
                />
                <label for="medium">Medium</label>
                <br />
                <input type="radio" name="question_level" id="easy" value="E" />
                <label for="easy">Easy</label>
              </div>
            </div>

            <div style="margin-bottom: 25px" class="form-group">
              <label for="content"><h4>Question</h4></label>
              <br />
              <textarea
                id="content"
                name="question_content"
                class="form-control"
                rows="10"
              >
              </textarea>
            </div>
            <div style="margin-bottom: 25px" class="form-group">
              <label for="answer"><h4>Answer</h4></label>
              <br />
              <div>
                <textarea
                  class="form-control"
                  name="question_answer"
                  id="answer"
                  rows="10"
                ></textarea>
              </div>
            </div>
          </div>

          <div>
            <br />
            <button class="btn btn-secondary" id="submit" type="submit">
              Submit
            </button>
          </div>
        </div>
      </div>
    </form>

    <script src="{% static 'bootstrap/js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html5>
